body {
}

.selected-queue {
    font-family: 'Poppins';
    font-size: 2rem;
    font-weight: 700;
    color: #094C1C;
}

/* overall container */
h1 {
    font-family: 'Poppins';
    font-size: 2.5rem;
    font-weight: 900;
}

.container-title {
    font-family: 'Poppins';
    font-size: 1.5rem;
    font-weight: 600;
}

/* counter */
.counter-column {
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
    gap: 1rem;
}

.counter-box {
    display: flex;
    align-items: center;
    background-color: #E5E5EA;
    padding: 1rem 1rem;
}

.counter-status {
    font-family: 'Poppins';
    font-size: 1.5rem;
    font-weight: 700;
    color: #1C6933;
}

.counter-name {
    font-family: 'Poppins';
    font-size: 1.5rem;
    font-weight: 600;
    text-align: left;
}

.counter-number {
    font-family: 'Poppins';
    font-size: 2rem;
    font-weight: 700;
    color: #1C6933;
    text-align: center;
}

/* current serving */
.ticket-title {
    font-family: 'Poppins';
    font-size: 2rem;
    font-weight: 800;
    padding: 0.5rem 0rem;
}

.ticket-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1C6933;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 250px;
}

.ticket-number {
    font-family: 'Poppins';
    font-size: 7rem;
    font-weight: 700;
    color: white;
}

/* standby */
.standby-box {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #E5E5EA;
    padding: 1rem 1rem;
}

.standby-text {
    font-family: 'Poppins';
    font-size: 2rem;
    font-weight: 700;
    color: #1C6933;
}

.footer {
    position: fixed;
    bottom: 0;
    /*    background-color: #D9D9D9;*/
    width: 100%;
    padding: 3rem;
    left: 0;
    right: 0;
    display: grid;
    justify-content: center;
}

.datetime {
    font-family: 'Poppins';
    font-size: 2rem;
    font-weight: 900;
    color: #094C1C;
}